<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
  <head>
     <title>상세 급여 계산내역 조회</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="../css/style.css">
      <link th:href="@{/css/manage/employee/HR.css}" rel="stylesheet">
      <link th:href="@{/css/manage/employee/Listdetail.css}" rel="stylesheet">
      <link rel="stylesheet"  th:href="@{/css/books/bookList/bookList.css}">
  </head>
<body>
	<div th:replace="/common/topSideBar.html"></div>
	
	 <h2 class="mb-4" id="main-text">급여관리</h2>
        <hr><br><br>
        <h5 class="mb-4" id="sub-text">상세 급여 계산내역 조회</h5>
        <br>
	<div class="emp detail list2"> 
          <table border="2">
          <thead>
            <tr class="detailtitle3">
              <td colspan="2" th:text="${ pay.empAndDept.dept.deptName }"></td>
              <td colspan="2" th:text="${ pay.empAndDept.empName }"></td>
            </tr>
            <tr class="detailpay">
              <th colspan="2">지급내역</th>
              <th colspan="2">공제내역</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="payft">기본급</td>
              <td th:text="${ pay.salBase }"></td>
              <td class="payft">국민연금</td>
              <td th:text="${ pay.salPension }"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="payft">건강보험</td>
              <td th:text="${ pay.salHealth }"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="payft">요양보험</td>
              <td th:text="${ pay.salCare }"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="payft">고용보험</td>
              <td th:text="${ pay.salHire }"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="payft">소득세</td>
              <td th:text="${ pay.salIncTax }"></td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td class="payft">지방소득세</td>
              <td th:text="${ pay.salLocalTax }"></td>
            </tr>
            <tr>
              <td class="payft">기본급</td>
              <td th:text="${ pay.salBase }"></td>
              <td class="payft">공제액 계</td>
              <td th:text="${ pay.salTotalMinus }"></td>
            </tr>
            <tr>
              <td class="payft">차인 지급액</td>
              <td colspan="3" th:text="${ pay.salRealAmount }"></td>
            </tr>
           </tbody>
           </table>
           <br> <br>
           <div id="newBookDiv">
      	  <button type="button" id="updatePay" class="modify btn" th:onclick="'location.href = \'' +  @{/empPay/payUpdate/{salNo}(salNo=${pay.salNo})} + '\''">수정하기</button>
          <button type="button" class="list btn backBtn">목록으로</button> 
    	</div>
       </div>  
        <script th:inline="javascript">
        $('.backBtn').click(function(){
             window.history.back(); 
           }); 
       
          $('.updateBtn').click(function(){
           }); 
        const updateSuccessmessage = "[[${updateSuccessMessage}]]"
                   
        if(updateSuccessmessage){
             Swal.fire({
                icon: 'success',
                title: 'Success!',
                text: '정보수정이 성공적으로 완료되었습니다!',
             })
        } 

      </script>

	</body>
</html>