<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/style.css">
<link th:href="@{/css/manage/employee/HR.css}" rel="stylesheet">
<link th:href="@{/css/manage/employee/Listdetail.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/manage/empAnnual/rest.css}">
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<div th:replace="/common/topSideBar.html"></div>

        <!-- 본문 제목은 용도에 맞게 수정해주세요.-->
        <h2 class="mb-4" id="main-text">사원관리</h2>
        <hr><br><br>
        <h5 class="mb-4" id="sub-text">휴가 신청 상세 내역 조회</h5>
        <br>

        <!-- 이곳부터 화면구현 시작(샘플 테이블 지우고 구현 시작하시면 됩니다.) -->
        <div class="emp rest detail">
          <table border="1px">
            <tbody>
              <tr>
                <td class="deemp3">휴가번호</td>
                <td th:text="${ appvacAndEmp.vacNo }"></td>
              </tr>
              <tr>
                <td class="deemp3">사원번호</td>
                <td th:text="${ appvacAndEmp.empAndDept.getEmpNo() }"></td>
              </tr>
              <tr>
                <td class="deemp3">직책</td>
                <td th:text="${ appvacAndEmp.empAndDept.getEmpJobCode() }"></td>
              </tr>
              <tr>
                <td class="deemp3">사원명</td>
                <td th:text="${ appvacAndEmp.empAndDept.getEmpName() }"></td> 
              </tr>
              <tr>
                <td class="deemp3">시작일</td>
                <td th:text="${ appvacAndEmp.vacStartDate  }"></td>
              </tr>
              <tr>
              	<td class="deemp3">종료일</td>
                <td th:text="${ appvacAndEmp.vacEndDate }"></td>
              </tr>
              <tr>
              <tr>
                <td class="deemp3">사유</td>
                <td id="reason" th:text="${ appvacAndEmp.getVacCompanion() }"></td>
              </tr>
            </tbody>
            </table>
          </div>
	          <button type="button" class="access btn" onclick="accessClick()">승인</button>
	          <button type="button" class="cancle btn" th:onclick="location.href='/empAnnual/restSelect'">목록으로</button>
	          <button type="button" class="cancle btn" onclick="delayClick()">반려</button>
          
    <script th:inline="javascript">  
     $().ready(function accessClick() {
		    $(".access.btn").click(function () {
		        Swal.fire({
		            title: '승인 하시겠습니까?',
		            text: "승인 버튼을 누르면 승인이 됩니다.",
		            icon: 'warning',
		            showCancelButton: true,
		            confirmButtonColor: '#c5bfbf',
		            cancelButtonColor: '#c5bfbf',
		            confirmButtonText: '승인',
		            cancelButtonText: '취소'
		        }).then((result) => {
		            if (result.isConfirmed) {
		            	location = "/empAnnual/empDayOffList";
		            }
		        })
		    });
		});

     function delayClick() {
         var cancleReason = document.getElementById("cancleReason");
         let text;
         if(confirm("반려하시겠습니까?")) {
           let delayReson = prompt("반려 사유를 입력해주세요");
           if(delayReson.length == 0) {
             alert("사유를 입력하지 않아 반려 등록이 취소되었습니다.")
           } else {
             alert("반려 사유가 등록되었습니다.")
             cancleReason.innerText = delayReson;
           }
         } else {
           alert("반려가 취소되었습니다.")
         }
       }
     </script>
     
<!--      이건 더 찾아보자... 값을 어떻게 넘기냐 증말 어휴 */
              	 const delay = ""
              $(".cancle.btn").click(function () {
                 	Swal.fire({
         	        title: '반려하시겠습니까?',
         	        text: '반려 사유를 입력해주세요',
         	        input: 'text',
         	        inputPlaceholder: '사유 입력란'
         	        
         	    }).then((value) => {
                     delay = swal("You typed : " + value);
         	    	$('#reason').text(delay);
                     console.log(delay);
                 });
         	})

      	(async () => {
    	    const { value: getName } = await
    	    Swal.fire({
    	        title: '당신의 이름을 입력하세요.',
    	        text: '그냥 예시일 뿐이니 정보유출 같은건 없습니다.',
    	        input: 'text',
    	        inputPlaceholder: '이름을 입력..'
    	    })

    	    // 이후 처리되는 내용.
    	    if (getName) {
    	        Swal.fire(`: ${getName}`)
    	    }
    	})() -->

        </script>
</body>
</html>