<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  th:href="@{/css/mypage/youchan.css}">

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet'/>  
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>  
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>
<style>
	
</style>
</head>
<body>
<div th:replace="/common/topSideBar.html"></div>
	
	
       
            <div  style="width: 80%; height: 300px; float:left; margin-top: 50px; margin-left: 100px;">
              <div>
                <h4 style="text-align: left; font-family: Bold;">EnterPrise Board List</h4>
                <table id="sampleTable" style="width: 100%;">
                  <tr>
                    <th class="th1">번호</th>
                    <th class="th1">카테고리</th>
                    <th class="th1">제목</th>
                    <th class="th1">작성일</th>
                </tr>
                <tr>
                  <td th:text="${boardList[0].no}"></td>
                  <td th:text="${boardList[0].cate.cateName}"></td>
                  <td th:text="${boardList[0].title}"></td>
                  <td th:text="${boardList[0].date}"></td>
                </tr>
                <tr>
                  <td th:text="${boardList[1].no}"></td>
                  <td th:text="${boardList[1].cate.cateName}"></td>
                  <td th:text="${boardList[1].title}"></td>
                  <td th:text="${boardList[1].date}"></td>
                </tr>
                <tr>
                  <td th:text="${boardList[2].no}"></td>
                  <td th:text="${boardList[2].cate.cateName}"></td>
                  <td th:text="${boardList[2].title}"></td>
                  <td th:text="${boardList[2].date}"></td>
                </tr>
                <tr>
                  <td th:text="${boardList[3].no}"></td>
                  <td th:text="${boardList[3].cate.cateName}"></td>
                  <td th:text="${boardList[3].title}"></td>
                  <td th:text="${boardList[3].date}"></td>
                </tr>
                
              </table>
            </div>
            
          </div>
         
         <div id='calendar' style="width: 80%; float:left; margin-left: 100px; margin-top: 10%;">

        </div>  
       
    <script th:inline="javascript">

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
    
        var calendar = new FullCalendar.Calendar(calendarEl, {
    
          headerToolbar: {
            left: 'prev,next today',
            center: 'title',
            right: 'listDay,listWeek'
          },
    
          // customize the button names,
          // otherwise they'd all just say "list"
          views: {
            listDay: { buttonText: 'list day' },
            listWeek: { buttonText: 'list week' }
          },
    
          initialView: 'listWeek',
          initialDate: '2022-07-18',
          navLinks: true, // can click day/week names to navigate views
          editable: true,
          dayMaxEvents: true, // allow "more" link when too many events
          events: [
        	  
	          /*[# th:each="cal : ${ calendar }"]*/
	            {
	              title: /*[[${cal.title}]]*/,
	              start: /*[[${cal.start}]]*/,
	              url: '/mypage/detailCal/'+/*[[${cal.code}]]*/,
	              end: /*[[${cal.end}]]*/
	            },
	          /*[/]*/
	          
	          ]
        });
    
        calendar.render();
      });
    
    </script>
    <script>
			const successMessage = "[[${ successMessage }]]";
			const memberInfoUpdate = "[[${ memberInfoUpdate }]]";

			if(successMessage){
				Swal.fire({
	                icon: 'success',
	                title: 'Success!',
	                text: '성공적으로 완료되었습니다!',
	            })
			}else if(memberInfoUpdate){
				Swal.fire({
	                icon: 'success',
	                title: 'Success!',
	                text: '해당 회원의 개인정보를 수정하였습니다.',
	            })
			}
			
	</script>
	
</body>
</html>