<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  th:href="@{/css/mypage/youchan.css}">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.css' rel='stylesheet'/>  
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/main.min.js'></script>  
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.8.0/locales-all.min.js'></script>

</head>
<body>
<div th:replace="/common/topSideBar.html"></div>

	<h2 class="mb-4" id="main-text">마이페이지</h2>
	       <hr><br><br>
	       <h5 class="mb-4" id="sub-text">일정수정</h5>
	       <br>
	       
	        <div class="leftMar20">
          <form action="/mypage/calendar/modify" method="post" id="modifyForm">
          <table class="type03">
            <tr>
              <th>일정 제목</th>
              <td><input type="text" class="form-control" name="title" th:value="${detailCal.title}" required>
              	  <input type="hidden" th:value="${detailCal.code}" name="code"></td>
            </tr>
            <tr>
              <th>일정 시작일</th>
              <td><input type="date" class="form-control" name="start" id="startDay" required></td>
            </tr>
            <tr>
              <th>일정 종료일</th>
              <td><input type="date" class="form-control" name="end" id="endDay" required></td>
            </tr>
            <tr>
              <td colspan="2" style="height: 500px;">
                <textarea class="form-control" style="resize:none; height: 480px;" name="content" th:text="${ detailCal.content }" required></textarea> 
              </td>
            </tr>
          </table>
           <button class="btn btn-info leftMar500p" type="button" id="modifyCal">수정하기</button>
          <button class="btn btn-dark leftMar20p" type="button" onclick="location.href='/mypage/calendar'">목록으로</button>
        </form>
        
      </div>
      
      <script type="text/javascript">
		/* 기간조회시 입력 오류 확인 날짜 비교 */
		$("#modifyCal").click(function(){ 
			let date = new Date();
			

			let start = $("#startDay").val();
			let end = $("#endDay").val();
			
				
			let startArr = start.split('-');
			let endArr = end.split('-');
				
				
			let startDateCompare = new Date(startArr[0], parseInt(startArr[1])-1, startArr[2]);
			let endDateCompare = new Date(endArr[0], parseInt(endArr[1])-1, endArr[2]);
				
			
			if(startDateCompare.getTime() > endDateCompare.getTime()){
				alert("시작 날짜와 종료 날짜를 확인해 주세요!");
				$("#startDay").focus();
			}else {
				$("#modifyForm").submit();
			}
			
		})
		
	</script>

      
       
	
</body>
</html>