<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

	<script src="/js/summernote/summernote-lite.js"></script>
	<script src="/js/summernote/lang/summernote-ko-KR.js"></script>
	
    <link rel="stylesheet"  th:href="@{/css/document/draftwriteStyle.css}">
    <link rel="stylesheet"  th:href="@{/css/summernote/summernote-lite.css}">
<title>Write Draft</title>
</head>
<body>
	<div th:replace="/common/topSideBar.html"></div>
	<script> 
     $.noConflict(); //이때부터 jQuery는 $ 식별자를 포기하고 jQuery() 를 사용함    
    </script> 
	<script src="/js/document/draftWrite.js"></script>
	<h4 class="mb-4" id="main-text">기안서 작성</h4>
    <hr><br><br>

        <!-- 이곳부터 화면구현 시작(샘플 테이블 지우고 구현 시작하시면 됩니다.) -->
        <div class="totals left">
          <h4>결재라인 지정</h4>
          <table class="tbl2" border="1px solid gray">
              <tr>
                <th></th>
                <th>부서명</th>
                <th>사원명</th>
              </tr>
              <tr>
                  <th>1단계 : </th>
                  <td id="selectDept">
                      <select name="deptCode" id="deptCode">
                      	<option value=""></option>
					  	<!-- ajax -->
                      </select>
                  </td>
                  <td>
                      <select name="empList" id="empList">
                          <option value=""></option>
                      </select>
                  </td>
              </tr>
              <tr>
                  <th>2단계 : </th>
                  <td>
                      <select name="deptCode2" id="deptCode2">
                          <option value=""></option>
                      </select>
                  </td>
                  <td>
                      <select name="empList2" id="empList2">
                          <option value=""></option>
                      </select>
                  </td>
              </tr>
              <tr>
                  <th>3단계 : </th>
                  <td>
                      <select name="deptCode3" id="deptCode3">
                          <option value=""></option>
                      </select>
                  </td>
                  <td>
                      <select name="empList3" id="empList3">
                          <option value=""></option>
                      </select>
                  </td>
              </tr>
          </table>
          <br>
          <div>
            <button class="btnin" type="button" onclick="selectacc()">결재라인 지정</button><br><br>
          </div>
      </div>
      <div class="totals">
          <h4>참조자 설정</h4>
          <table class="tbl2" border="1px solid gray">
            <tr>
              <th></th>
              <th>부서명</th>
              <th>사원명</th>
            </tr>
              <tr>
                  <th>1번</th>
                  <td>
                      <select name="deptCode4" id="deptCode4">
                          <option value=""> </option>

                      </select>
                  </td>
                  <td>
                      <select name="selacc1" id="empList4">
                          <option value=""></option>
                      </select>
                  </td>
              </tr>
              <tr>
                  <th>2번</th>
                  <td>
                      <select name="deptCode5" id="deptCode5">
					      <option value=""></option>
                      </select>
                  </td>
                  <td>
                      <select name="selacc2" id="empList5">
                          <option value=""></option>
                      </select>
                  </td>
              </tr>
              <tr>
                  <th>3번</th>
                  <td>
                      <select name="selacc3" id="deptCode6">
                      	<option value=""></option>
                      </select>
                  </td>
                  <td>
                      <select name="empList6" id="empList6">
                          <option value=""></option>
                      </select>
                  </td>
              </tr>
          </table>
          <br>
          <button class="btnin  " type="button" onclick="selectref()">참조자 지정</button><br><br>
      </div>
      <br clear="both">
      <div class="totals left" >
        <h4>양식 작성</h4>
          <table border="1px solid black" class="tbl">
              <tr class="tbl">
                  <th class="tbl th">제목</th>
                  <td class="tbl"><input type="text" id="title" required></td>
              </tr>
              <tr class="tbl">
                  <th class="tbl th">내용</th>
                  <td class="tbl wid">
                    <textarea class="description" id="desc"></textarea>
                  </td>
              </tr>
          </table>
      </div>
      <div class="totals draft">
        <h4>미리보기</h4>
          <table class="tbl">
              <tr class="tbl">
                  <th class="tbl th coloring" colspan="7"><h4>기안서</h4></th>
              </tr>
              <tr class="tbl">
                  <th class="tbl th coloring">문서번호</th>
                  <th class="tbl th read">1</th>
                  <th rowspan="4" class="th coloring">결재</th>
                  <th class="tbl th coloring">담당</th>
                  <th class="tbl th coloring" id="selacc1">결재1</th>
                  <th class="tbl th coloring" id="selacc2">결재2</th>
                  <th class="tbl th coloring" id="selacc3">결재3</th>
              </tr>
              <tr class="tbl">
                  <th class="tbl th coloring">작성일자</th>
                  <th class="tbl th" id="date2"><p id="day"></p></th>
                  <th rowspan="3" class="tbl th sign"></th>
                  <th rowspan="3" class="tbl th sign"></th>
                  <th rowspan="3" class="tbl th sign"></th>
                  <th rowspan="3" class="tbl th sign"></th>
              </tr>
              <tr class="tbl">
                  <th class="tbl th coloring">부서명</th>
                  <th class="tbl th" id="dept2"></th>
                  
              </tr>
              <tr class="tbl">
                  <th class="tbl th coloring">작성자</th>
                  <th class="tbl th" id="writer2"></th>
              </tr>
              <tr class="tbl">
                  <th class="tbl th coloring">제목</th>
                  <td class="tbl" colspan="6" id="title2">제목을 입력해주세요</td>
              </tr>
              <tr class="tbl">
                  <th class="tbl th cnt coloring">내용</th>
                  <td class="tbl cnt" colspan="6" id="cnt2">
                      <div id="result">내용을 입력해주세요</div>
                  </td>
              </tr>
          </table>
          <br>
          
      </div>
      <br clear="both">
      <div class="right">
        <button class="buto" type="button" onclick="sendData()">상신</button>
        <input type="hidden" id="draftcnt">
        <button class="buto" type="button">임시저장</button>
      </div>
</body>

<script>
        let user = "hyejun";
        $("#writer").val(user);
        let date = $("#date").val();
        let writer = $("#writer").val();
        let dept = $("#dept").val();

        $(document).ready(function(){
            let now = new Date();
            // $("h6").text(now); //전체

            let year=now.getFullYear();//연도
            let month=now.getMonth()+1;//월
            let date=now.getDate();//일

            let todayString = now.getFullYear() + "-";
            let todayMonth = now.getMonth() + 1;
            if (todayMonth < 10) {
                todayString += "0";
            }
            todayString += todayMonth + "-";
            let todayDate = now.getDate();
            if (todayDate < 10) {
                todayString += "0";
            }
            todayString += todayDate;

            $("#date2").text(todayString); 
        });

        $("#title").keyup(function(){
            let title = $("#title").val();
            // console.log(title);
            $("#title2").text(title);
        })
        
        $(document).ready(function() {
	         $('.description').summernote({
	            height: 200,
	            width: 350,
	            toolbar: [
			    // 표만들기
			    ['table', ['table']],
			    // 글머리 기호, 번호매기기, 문단정렬
			    ['para', ['ul', 'ol', 'paragraph']],
			    // 코드보기, 확대해서보기, 도움말
			    ['view', ['codeview','fullscreen', 'help']]
			  ],
	            callbacks: {
	                onKeyup: function(e) {
	                setTimeout(function(){
	                    $("#result").html($('.description').val());
	                },200);
	                }
	            }
	        });
        });

        function sendData() {
    		if ($("#title").val().length < 1 || $("#title").val() == "" || $("#title").val() == "  ") {
    			alert("문서의 제목을 입력해주세요.");
    		} else if ($("#title").val().length < 5 || $("#title").val().length < 5) {
    			alert("문서의 제목을 5글자 이상 입력해주세요.");
    		}

    		console.log($(".note-editable").text());
    		if ($(".note-editable").text().length < 1 || $(".note-editable").text() == "" || $(".note-editable").text() == "  ") {
    			alert("문서의 내용을 입력해주세요.");
    		} else if ($(".note-editable").text().length < 10) {
    			alert("문서의 내용을 10글자 이상 입력해주세요.");
    		}

    		else {
    			let sendDraft = $(".draft").html();
    			console.log(sendDraft);
    			$("#draftcnt").val(sendDraft);
    		}

    	}

    	function selectacc() {
    		let account1 = $("#empList option:selected").text();
    		let account2 = $("#empList option:selected").text();
    		let account3 = $("#empList option:selected").text();
    		
    		if (account1 == "") {
    			alert("최소 결재라인을 지정해주세요!")
    		} else {
    			$("#selacc1").text($("#empList option:selected").text());
				$("#selacc2").text($("#empList2 option:selected").text());
				$("#selacc3").text($("#empList3 option:selected").text());
    		}
    	}
    </script>
</html>