<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<link rel="stylesheet"  th:href="@{/css/document/HR.css}">
<link rel="stylesheet"  th:href="@{/css/document/Listdetail.css}">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<title>Document docList</title>
</head>
<body>
	<div th:replace="/common/topSideBar.html"></div>
	<h2 class="mb-4" id="main-text">상신함</h2>
        <hr><br><br>
	<script>
		const successMessage = "[[${ insertSuccess }]]";
		if(successMessage){
			 Swal.fire({
	                icon: 'success',
	                title: '성공!',
	                text: '성공적으로 완료되었습니다!',
	            })
		}
	</script>

        <!-- 이곳부터 화면구현 시작(샘플 테이블 지우고 구현 시작하시면 됩니다.) -->
        <div>
          <form action="">
            <button class="search btn" type="submit">검색</button> 
            <input class="search in" type="text" placeholder="검색어 입력" required>
            <select class="search select" required>
              <option value="">None</option>
              <option value="empCode">번호</option>
              <option value="empName">제목</option>
              <option value="dept">문서종류</option>
            </select>
          </form>
        </div>
        <div>
          <table id="sampleTable">
              <tr>
                <th class="th1">No</th>
                <th class="th1">문서번호</th>
                <th class="th1">제목</th>
                <th class="th1">작성일자</th>
                <th class="th1">문서상태</th>
                <th class="th1">작성자</th>
                <th class="th1">문서종류</th>
                <th class="th1"></th>
              </tr>
              <tr class="hover" th:each="doc : ${ docList }">
                <td class="td1" th:text="${docStat.count}"></th>
                <td class="td1" th:text="${doc.docNo}"></th>
                <td class="td1" th:text="${doc.docTitle}"></th>
                <td class="td1" th:text="${doc.wrDate}"></th>
                <td class="td1" th:text="${doc.docStatus}"></th>
                <td class="td1" th:text="${doc.emp.empName}"></th>
                <td class="td1" th:text="${doc.formCate.formName}"></th>
                <td>
                	<a th:href="@{/document/reqApprovalDetail/{docNo}/(docNo=${doc.docNo})}"> 
                		<button type="button" class="select btn">보기</button>
                	</a>
                </td>
              </tr> 
          </table>
          <br>
          <button type="button" class="insert btn" onclick="location.href='/document/insert'">등록</button>
        </div> <!------------------------ 본문 종료---------------------------->
</body>
</html>