<!DOCTYPE html>

<html xmlns:th="http://www.thymleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet"  th:href="@{/css/finance/clientRegist.css}">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
    <div th:replace="/common/topSideBar.html"></div>

        <h2 class="mb-4" id="main-text">거래처 관리</h2>
        <hr><br><br>
        <h5 class="mb-4" id="sub-text">거래처 등록</h5>
        <br>

        <div id="textTable" style="text-align:-webkit-center">
            <form id="registForm" action="/client/regist" method="post">
                <table id="sampleTable" align="center">
                    <tr>
                        <th class="th1" colspan="4">거래처 정보 입력</th>
                    </tr>
                    <tr>
                        <td>거래처명</td>
                        <td colspan="3"><input type="text" name="cntName"></td>
                    </tr>
                    <tr>
                        <td>업종</td>
                        <td><input type="text" name="cntCate"></td>
                        <td>사업자등록번호</td>
                        <td><input type="text" name="cntRegNo"></td>
                    </tr>
                    <tr>
                        <td>업태</td>
                        <td><input type="text" name="cntType"></td>
                        <td>법인등록번호</td>
                        <td><input type="text" name="corpRegNo"></td>
                    </tr>
                    <tr>
                        <td>대표자</td>
                        <td colspan="3"><input type="text" name="cntRepName"></td>
                    </tr>
                    <tr>
                        <td>개업일</td>
                        <td colspan="3"><input type="date" name="cntOpenDate"></td>
                    </tr>
                    <tr>
                        <td>소재지</td>
                        <td colspan="3"><input class="addr" type="text" name="cntAddress"></td>
                    </tr>
                    <tr>
                        <td>연락처</td>
                        <td><input type="text" name="cntPhone"></td>
                        <td>담당자</td>
                        <td><input type="text" name="cntManaName"></td>
                    </tr>
                    <tr>
                        <td>이메일</td>
                        <td><input type="email" name="cntEmail"></td>
                        <td>담당자 연락처</td>
                        <td><input type="text" name="cntManaPhone"></td>
                    </tr>
                    <tr>
                        <td>FAX</td>
                        <td><input type="text" name="cntFax"></td>
                        <td>담당자 이메일</td>
                        <td><input type="email" name="cntManaEmail"></td>
                    </tr>
                </table>
                <button class="btn" type="button" onclick="checkComplete()">등록</button>
                <button class="btn" type="button" onclick="checkCancel()">취소</button>
            </form>
        </div> <!------------------------ 본문 종료---------------------------->

    <script>
    function checkComplete(){
  	  Swal.fire({
      		icon: 'warning',
      		title: '등록 확인',
      		text: '거래처 등록을 진행하시겠습니까?',
      		showCancelButton: true,
      		confirmButtonText: '확인',
      		cancelButtonText: '취소'
      	}).then((result) => {
      		if(result.isConfirmed){
      			$("#registForm").submit();
      		}
      	});
    }
    
    function checkCancel(){
  	  Swal.fire({
	      		icon: 'warning',
	      		title: '취소 확인',
	      		text: '정말로 거래처 등록을 취소하시겠습니까?',
	      		showCancelButton: true,
	      		confirmButtonText: '확인',
	      		cancelButtonText: '취소'
	      	}).then((result) => {
	      		if(result.isConfirmed){
	      			location="/client/select"
	      		}
	      	});
    }
    </script>
  </body>
</html>