<!DOCTYPE html>

<html xmlns:th="http://www.thymleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/manage/empAnnual/rest.css}">
<link rel="stylesheet" th:href="@{css/manage/employee/persist.css}">
<link rel="stylesheet" th:href="@{/css/manage/employee/Listdetail.css}">
<link rel="stylesheet"  th:href="@{/css/books/bookList/bookList.css}">
</head>
<body>
<div th:replace="/common/topSideBar.html"></div>
    <h2 class="mb-4" id="main-text">사원관리</h2>
        <hr><br><br>
        <h5 class="mb-4" id="sub-text">근로계약서 등록</h5>
        <br>

        <!-- 이곳부터 화면구현 시작(샘플 테이블 지우고 구현 시작하시면 됩니다.) -->
        <h2 class="mb-4" id="main-text">사원관리</h2>
        <hr><br><br>
        <h5 class="mb-4" id="sub-text">근로계약서 등록</h5>
        <br>

        <!-- 이곳부터 화면구현 시작(샘플 테이블 지우고 구현 시작하시면 됩니다.) -->
        <div class="emp detail list">
          <table border="1px">
            <tbody>
              <tr>
                <td class="deemp3">근로계약 번호</td>
                <td th:text="${ empCont.contNo }"></td>
              </tr>
              <tr>
                <td class="deemp3">계약서명</td>
                <td>2021 연봉협상 근로계약서</td>
              </tr>
              <tr>
                <td class="deemp3">일자</td>
                <td><input type="date"></td>
              </tr>
              <tr>
                <td class="deemp3">근로계약서 스캔 파일</td>
                <td>
                  <form action="">
                  <input type="file" id="myfile" name="myfile"/>
              </form>
                </td>
              </tr>
              <tr>
                <td class="deemp3">작성자</td>
                <td><input type="text"></td>
              </tr>
              <tr>
                <td class="deemp3">만료일</td>
                <td><input type="date"></td>
              </tr>
            </tbody>
            <tr>
            <td colspan="3"><button type="button" class="access btn">저장</button>
            <button type="button" class="cancle btn">목록으로</button>
            <button type="button" class="delete btn">삭제</button></td>
            </tr>
            </table>
            <br><br>
          </div> 
          
          <br><br>
     
</body>
</html>