.tbl{
    border: 1px solid gray;
    border-collapse: collapse;
}

.view{
    padding: 5px;
    border: 1px solid gray;
    height: 20px;
    text-align: center;
    font-size: x-small;
}

th{
    font-size: small;
}

.sign{
    width: 60px;
}

.read{
    width: 110px;
}

.coloring{
    background-color: rgb(211, 245, 255);
}

.total{
    float: left;
    border: 2px solid gray;
    padding: 1%;
}

.imgs{
    width: 50px;
    height: 100px;
}

.write{
    padding: 10px;
    width: max-content;
    text-align: center;
    width: 100px;
    height: 15px;
}

.forms{
    border-collapse: collapse;
}