<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet"  th:href="@{/css/books/bookList/bookList.css}">
</head>
<body>
<div th:replace="/common/topSideBar.html"></div>
	<h2 class="mb-4" id="main-text">재고관리</h2>
    <hr><br><br>
        <div id="lookUpBtnDiv">
          <button type="button" class="lookup">매장재고조회</button>
          <button type="button" class="lookup">창고재고조회</button>
        </div>
        <br><br><br>
        <div id="productFind">
          <select id="selectFind">
            <option value="">전체보기</option>
            <option value="">도서코드</option>
            <option value="">제목</option>
            <option value="">저자</option>
          </select>
          <input type="text" value="" id="inputFind" placeholder="검색어를 입력해주세요.">
          <button type="button" class="productBtn findBtn">검색하기</button>
        </div>
        <br>

        <!-- 이곳부터 화면구현 시작(샘플 테이블 지우고 구현 시작하시면 됩니다.) -->
        <div id="textTable" style="text-align:-webkit-center">
          <table id="sampleTable">
              <tr>
                <th class="th1">NO.</th>
                <th class="th1">도서코드</th>
                <th class="th1">제목</th>
                <th class="th1">저자</th>
                <th class="th1">가격</th>
                <th class="th1">보유재고 </th>
              </tr>
              <tr>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
              </tr>
              <tr>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
              </tr>
              <tr>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
              </tr>
              <tr>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
              </tr>
              <tr>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
              </tr>
              <tr>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
              </tr>
              <tr>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
              </tr>
              <tr>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
                <td>샘플입니다.</td>
              </tr>
              <tr>
                <td class="td2">샘플입니다.</td>
                <td class="td2">샘플입니다.</td>
                <td class="td2">샘플입니다.</td>
                <td class="td2">샘플입니다.</td>
                <td class="td2">샘플입니다.</td>
                <td class="td2">샘플입니다.</td>
              </tr>
          </table>
          <br>
          <div id="newBookDiv">
            <button type="button" class="productBtn newBookBtn">신규도서등록</button>
          </div>
        </div> <!------------------------ 본문 종료---------------------------->

</body>
</html>